@import 'header';
@import 'navbar';
@import 'missions';
@import 'rocket-card';
@import 'rockets';

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
}
