@import 'functions/borderCollapse.scss';
@import 'colors';

.mission-section {
  width: 100%;
  height: auto;
  align-items: center;
  padding: 1.5rem;

  table,
  td,
  th {
    border: 1px solid $black;
    border-collapse: collapse;

    tr {
      th {
        padding: 0.5rem 0.25rem;
        vertical-align: top;
        text-align: start;
      }

      td {
        padding: 0.5rem 0.25rem;
        text-align: start;
      }

      td:nth-child(1) {
        padding: 0.5rem 0.25rem;
        vertical-align: top;
        text-align: start;
      }
    }

    tbody {
      .white-color {
        background-color: $white;
      }

      .grey-color {
        background-color: $light;
      }

      .description p {
        color: $font-grey;
        padding: 0.1rem 0 0.9rem 0.1rem;
      }

      .status-td {
        font-size: 0.75rem;
        padding: 0.5rem;
        border-radius: 0.2rem;
        text-align: center;
        color: $white;
        white-space: nowrap;

        .active-span-status {
          background-color: $light-blue;
          padding: 0.3rem;
          border-radius: 4px;
          font-weight: bold;
        }

        .not-active-span-status {
          background-color: $grey;
          padding: 0.3rem;
          border-radius: 4px;
          font-weight: bold;
        }

        .leave-btn {
          color: $shade-red;
          border: 1px solid $shade-red;
          padding: 0.5rem;
          white-space: nowrap;
          border-radius: 4px;
        }

        .join-btn {
          color: $grey;
          border: 1px solid $grey;
          padding: 0.5rem;
          border-radius: 4px;
        }
      }
    }
  }
}
