@import './colors.scss';

.profile-main {
  display: flex;
  margin-top: 0.5rem;

  .profile-mission {
    width: 50%;
    margin-left: 1.25rem;
    margin-right: 1.25rem;

    table,
    td {
      width: 50%;
      margin-top: 0.3rem;
      border: 1px solid $black;
      border-collapse: collapse;
      padding: 1rem;
      color: $font-grey;
    }
  }
}
