@import 'colors';
@import 'functions/flex';

.rocket-card {
  @include flex(row, 1.5rem);

  margin: 1rem 0;

  img {
    max-width: 250px;
    width: 250px;
  }

  .rocket-details {
    @include flex(column, 1rem, flex-start, flex-start);

    height: 100%;
    color: $font-grey;
    font-size: 1rem;

    h1 {
      color: $font-black;
      font-size: 1.2rem;
    }

    .rocket-description {
      line-height: 1.5;
    }
  }
}

.rocket-card:first-child {
  margin-top: 0;
}

.btn {
  border: none;
  border-radius: 4px;
  padding: 0.8rem 1rem;
  font-size: 1rem;
}

.btn-primary {
  background-color: $dark-blue;
  color: $white;
}

.btn-secondary {
  background-color: $white;
  color: $grey;
  border: 1px solid $grey;
}

.badge {
  border-radius: 4px;
  padding: 0.25rem;
  font-size: 0.7rem;
  text-align: center;
  font-weight: 700;
}

.badge-info {
  background-color: $light-blue;
  color: $white;
}
